body {
    margin: 0;
    padding: 0;
}

#entete {
    margin: 0;
    padding: 0px;
    background-color: rgb(0, 0, 0);

   
}

.headerNav{
    display: flex;
    justify-content: space-around;
    background-image: url('../img/10-5--thumb.png');
    background-repeat: no-repeat;
    background-size: cover;
   
}
